body {
    background-color: #0D1A29;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflox: hidden;
    justify-content: center;
    flex-direction: column;
    font-family: "Helvetica Neue", "Open Sans", helvetica, arial, sans-serif;
    text-align: center;
    width: 100vw; height: 100vh;
}

.logo {
    margin-bottom: 20px;
    width: 200px;
}

#timer {
    color: white;
    font-size: 3em;
    font-weight: 100;
    text-shadow: 0 0 20px #48C8FF;
    div {
        display: inline-block;
        min-width: 90px;
    }
    span {
        color: #B1CDF1;
        display: block;
        font-size: 0.35em;
        font-weight: 400;
    }
}



